<div class="card-title fs-2 fw-bold my-1">Detalles de la Tarea</div>
<button class="boton-Atras d-flex" (click)="enviarAtrasLista()">
    <i class="bi bi-chevron-compact-left signo-Atras color-dark"></i>
    <p class="mb-0 notas-Text">Atras</p>
</button>

<div class="justify-content-center shadow-sm py-4 px-3 rounded-3 cuadroDato text-center">

    <p>ID: {{ tarea?.id }}</p>
    <p>Nombre: {{ tarea?.nombre }}</p>
    <p>Descripción: {{ tarea?.descripcion }}</p>
    <p>Estado: {{ tarea?.estado }}</p>

</div>
<!--<div class="container" *ngIf="listas.length > 0">
    <div class="lista" *ngFor="let lista of listas.selected">


        <button type="button" (click)="toggleShow()">Ver Información.</button>

    </div>
</div> -->

<app-footer></app-footer>