<div class="w-100 h-40 position-fixed d-flex top-1 justify-content-between">
    <button class="boton-Atras d-flex" (click)="enviarAtrasInicio()">
        <i class="bi bi-chevron-compact-left signo-Atras color-dark"></i>
        <p class="mb-0 notas-Text">Notas</p>
    </button>

    <nav class="" [class.active]="showNav">
        <a class="text-white d-block mb-2 mx-4 text-decoration-none">Compartir</a>
        <a class="text-white d-block mb-2 mx-4 text-decoration-none">Exportar</a>
        <a class="text-white d-block mx-4 text-decoration-none">Guardar como</a>

        <button type="button" class="btn position-absolute cerrar-boton" (click)="toggleNav()">
            <i class="bi bi-x-lg  text-white"></i>
        </button>
    </nav>

    <div class="mt-2 mx-2">
        <button class="btn btn-derecha mx-1"><i class="bi bi-arrow-90deg-left color-dark"></i></button>
        <button class="btn btn-derecha mx-1"><i class="bi bi-arrow-90deg-right color-dark"></i></button>
        <button class="btn btn-derecha mx-1"><i class="bi bi-box-arrow-up color-dark" (click)="toggleNav()"></i></button>
    </div>
</div>
<div class="container row">
    <span class="d-flex fw-bold fs-5"><p>Titulo</p></span>
    <span class="fecha fw-semibold"><p>Fecha: (**/**/**).</p></span>
    <span><p>Lorem ipsum dolor sit amet consectetur. Leo velit morbi est suspendisse.
        Ut sit parturient nisl maecenas commodo volutpat urna. Nunc urna tempus aliquam amet pellentesque.
        Purus elit iaculis suspendisse id amet. Feugiat nibh mauris facilisi at.
        Sit ac posuere fermentum pharetra amet malesuada quam ac convallis.
        Ultrices blandit risus aliquam nunc sed arcu proin et varius.
        Pulvinar nisl ipsum tellus risus vehicula.
        Posuere fringilla fermentum pellentesque tortor in.
        Purus eget amet posuere ullamcorper a.
        Sed id diam ut tincidunt dictum neque volutpat enim.
        Netus ac tristique duis massa non malesuada.
        Vitae integer eu sagittis neque.
        Nunc urna tempus aliquam amet pellentesque.
        Purus elit iaculis suspendisse id amet. Feugiat nibh mauris facilisi at.
        Sit ac posuere fermentum pharetra amet malesuada quam ac convallis.
        Ultrices blandit risus aliquam nunc sed arcu proin et varius.
        Feugiat nibh mauris facilisi at.
        Sit ac posuere fermentum pharetra amet.</p></span>
</div>
<app-nota-footer></app-nota-footer>