<footer class="w-100 position-fixed d-flex bottom-0 px-3 bg-primary nota-nueva-footer">
    <div class="w-100 align-items-center justify-content-between d-flex">
        <button class="btn"><i class="bi bi-list-ul fs-1"></i></button>
        <button class="btn"><i class="bi bi-paperclip fs-1"></i></button>
        <button class="btn"><i class="bi bi-vector-pen fs-1"></i></button>
        <button class="btn"><i class="bi bi-check2-circle fs-1" (click)="enviarInicio()"></i></button>
    </div>
</footer>
