/* You can add global styles to this file, and also import other style files */

$primary:#3B3B3B;
$secondary:#FFFBF2;
$success:#53FFA4;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
